@font-face {
  font-family: "happy";
  src: url("/fonts/KGHAPPYSolid.ttf");
}

html {
  padding: 0;
  margin: 0;
  background-color: #e5e900;
  font-family: "happy";
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

#title {
  font-size: 7em;
  text-align: center;
  animation: alternate moving 1.5s infinite ease-in;
  letter-spacing: 1px;
}

#titlediv {
  position: relative;
  margin-top: 15%;
  display: block;
  transform: rotate(-3deg);
  z-index: 2;
}

#mainbtncontainer {
  align-items: center;
  text-align: center;
  z-index: 3;
}

#mainbutton {
  display: inline-block;
  margin-top: 1em;
  padding: 0.75rem 1.25rem;
  border-radius: 2rem;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-family: "happy";
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.1s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 20em;
  height: 4em;
}
#mainbutton:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 174, 0);
  border-radius: 2rem;
  z-index: -2;
}
#mainbutton:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #d39b00;
  transition: all 0.3s;
  border-radius: 2rem;
  z-index: -1;
}
#mainbutton:hover {
  color: #fff;
}
#mainbutton:hover:before {
  width: 100%;
}

#confetti-canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  margin: 0;
  z-index: -5;
}

#contentcontainer {
  position: absolute;
  /* margin-top: 100%; */
}

#contentheader {
  font-size: 3em;
}

#content {
  margin-top: 1em;
  font-size: 1.5em;
  letter-spacing: 0px;
}

#contentend {
  margin-top: 1.5em;
  text-align: center;
  font-size: 3em;
}

#maincontent {
  display: flex;
}

#acha {
  margin-top: -8%;
  margin-right: 2%;
  margin-left: 2%;
}

#happy {
  position: relative;
  width: 1%;
}

h3 {
  font-size: 0.8em;
  padding: 2em 2em 0 2em;
}

#p1,
#p2,
#p3 {
  margin-top: 100%;
  margin-bottom: 100%;
  text-align: center;
  font-size: 2em;
  padding: 0 3% 0 3%;
}

#p1 {
  transform: rotate(-10deg);
}

#p2 {
  transform: rotate(10deg);
}

#p3 {
  transform: rotate(5deg);
}

@keyframes moving {
  from {
    transform: translateY(10%);
  }
  to {
    transform: translateY(25%);
  }
}
